{% extends 'base.html' %}
{% block content %}

<h1>Recipe Detail</h1>

<div>
    <h2>{{ recipe.title }}</h2>
    <h5>Chef: {{ recipe.chef }}</h5>
    <h5>Servings: {{ recipe.servings }}</h5>
    <h5>Prep Time: {{ recipe.preptime}}</h5>
    <h5>Cooking Time: {{ recipe.cookingtime }}</h5>
    <h5>Category: {{ recipe.get_category_display }}</h5>
    <h5>Ingredients: {{ recipe.ingredients|linebreaks }}</h5>
    <h5>Method: {{ recipe.method|linebreaks }}</h5>
</div>

<a href="{% url 'recipe_update' recipe.id %}">Edit</a>
<a href="{% url 'recipe_delete' recipe.id %}">Delete</a>

<div>
    <form action="{% url 'add_comment' recipe.id %}" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>Comments</td>
            </tr>
            {{ comment_form.as_table }}
        </table>
        <input type="submit" value="Post Comment">
    </form>
</div>

<div>
    <table>
        {% for comment in recipe.comment_set.all %}
            <tr>
                <td>{{ comment.chef }}</td>
                <td>{{ comment.created|date:"M d, Y" }}</td>
            </tr>
            <tr>
                <td>{{ comment.content|linebreaks }}</td>
            </tr>
            <tr>
                <td><a href="{% url 'comment_delete' comment.id %}">Delete Comment</a></td>
            </tr>
        {% endfor %}
    </table>
</div>

<div>
    <form action="{% url 'add_tiptrick' recipe.id %}" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>Tips and Tricks</td>
            </tr>
            {{ tiptrick_form.as_table }}
        </table>
        <input type="submit" value="Post Tips or Tricks">
    </form>
</div>

<div>
    <table>
        {% for tiptrick in recipe.tiptrick_set.all %}
            <tr>
                <td>{{ tiptrick.chef }}</td>
                <td>{{ tiptrick.created|date:"M d, Y" }}</td>
            </tr>
            <tr>
                <td>{{ tiptrick.content|linebreaks }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}