{% extends 'base.html' %}
{% block content %}

<h1>Recipe Index</h1>

{% for recipe in recipes %}
    <div>
        <a href="{% url 'detail' recipe.id %}">
            <div>
                <h2>{{ recipe.title }}</h2>
                <p>Total Time: {{ recipe.preptime | add:recipe.cookingtime }} minutes</p>
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}


<!-- {% for yarn in yarns %}
  <div class="card">
    <a href="{% url 'detail' yarn.id %}">
      <div class="card-content">
        <span class="card-title">{{ yarn.brand }} {{ yarn.name }}</span>
        <p>Size: {{ yarn.size }}</p>
        <p>Description: {{ yarn.description|linebreaks }}</p>
        <p>Color: {{ yarn.color }}</p>
      </div>
    </a>
  </div> -->

<!-- {% endfor %} -->

<!-- } -->