* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
}

header {
    background-color: lightgray;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 9rem;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 1rem;
}

nav > ul > li {
    list-style-type: none;
}

nav > ul > li > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    font-size: 2rem;
    padding: 1rem;
    color: black;
}

nav > ul > li > a:hover, nav > ul > li > a:visited {
    color: black;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: lightgray;
    width: 100%;
    text-align: center;
    height: 2rem;
}

.banner-logo {
    height: 9rem;
    padding: .5rem;
    position: absolute;
    left: 0;
    top: 0;
}

.btn {
    background-color: skyblue;
    color: blue;
    border: .1rem solid black;
    padding: 1rem;
    border-radius: 1rem;
    width: 15rem;
}

.btn:hover {
    background-color: lightblue;
    color: blue;
}

input#file-upload-button {
    background-color: black;
    color: white;
}

input#file-upload-button:hover {
    background-color: white;
    color: black;
}

/* --- INDEX / MY INDEX VIEW --- */
.all-recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 3rem;
}

.recipe-card {
    position: relative;
    border: 1px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: whitesmoke;
    margin: 1rem;
    padding: 8rem 0;
    text-decoration: none;
    color: black;
    height: 40rem;
}

.recipe-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: rgb(162, 158, 158);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
}

/* --- DETAIL VIEW --- */
.detail-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .25fr 1fr .2fr 1fr;
    width: 80%;
    margin: 0 auto;
}

.title {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title > h1 {
    font-size: 5rem;
}

.title > h5 {
    font-size: 1.5rem;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo > img {
    border-radius: 5rem 5rem;
    height: 40rem;
}

.recipe-all {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: space-evenly;
}

.servings {
    text-align: center;
    grid-column: 1 / span 2;
}

.time {
    text-align: center;
}

.category {
    grid-column: 1 / span 2;
    text-align: center;
}

.method-ingred {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 2rem 2rem 0;
}

.heading {
    text-align: center;
}

.contentheader {
    font-size: 1.5rem;
    border: 1px dotted black;
    padding: 1rem;
}

.heading, .contentheader {
    margin: 1rem;
}

.ingredients {
    display: flex;
    justify-content: flex-end;
    
}

.add-photo, .edit-delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-delete > * {
    margin: 1rem;
}


/* -- COMMENTS & TIPS / TRICKS -- */
.add-tiptrick {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 1rem;
}

.post-tiptrick {
    grid-column: 1 / span 2;
}

#id_content {
    width: 90%;
    height: 5rem;
}

.table-chef {
    font-size: 2rem;
}

.table-date {
    font-size: 1.5rem;
}

.content-table {
    width: 100%;
    font-size: 2rem;
}

.content-table > * {
    border: 1px solid black;
}

.table-headers {
    font-size: 5rem;
}

.all-comment, .all-tiptrick {
    padding: 5rem 5rem 10rem 5rem;
    border-style: ridge;
    margin: 3rem 2rem 0;
}

.all-comment {
    border-right: 1px solid black;
}

.delete-content {
    width: 3rem;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.delete-content:hover {
    background-color: red;
    color: white;
    border: .1rem solid red;
}

.delete-cell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* --- NEW/UPDATE RECIPE FORM --- */
.recipe-form {
    width: 60%;
    margin: 0 auto;
}

.recipe-form > form > table {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.recipe-form > form > input.btn {
    width: 40%;
    margin: 0 auto;
}

.recipe-form > h1 {
    grid-column: 1 / span 3;
    text-align: center;
}

input[type="number" i], input[type="text" i], textarea {
    width: 100%;
    height: 3rem;
    text-align: left;
}

.form-title {
    font-size: 2rem;
    width: 25%;
}

#recipe-form {
    text-align: center;
}


/* -- CONFIRM DELETE PAGES -- */
.confirm-delete {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
}

.confirm-delete > form, .confirm-delete > h2, .confirm-delete > h1 {
    margin: 0 auto;
}