* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
}

header {
    background-color: lightgray;
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5rem;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 1rem;
}

nav > ul > li {
    list-style-type: none;
}

nav > ul > li > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    font-size: 2rem;
    padding: 1rem;
    color: black;
}

nav > ul > li > a:hover, nav > ul > li > a:visited {
    color: black;
}

h1 {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: lightgray;
    width: 100%;
    text-align: center;
    height: 2rem;
}

img {
    height: 25rem;
}

.btn {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: white;
    color: black;
}

input#file-upload-button {
    background-color: black;
    color: white;
}

input#file-upload-button:hover {
    background-color: white;
    color: black;
}

/* --- INDEX / MY INDEX VIEW --- */
.all-recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 3rem;
}

.recipe-card {
    position: relative;
    border: 1px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: whitesmoke;
    margin: 1rem;
    padding: 8rem 0;
    text-decoration: none;
    color: black;
    height: 40rem;
}

.recipe-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: rgb(162, 158, 158);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* --- DETAIL VIEW --- */
.detail-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 0.5fr 3fr;
}

.detail-page > * {
    border: 1px solid black;
}

.title {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo > img {
    border-radius: 5rem 5rem;
}

.recipe-all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    font-size: 3rem;
}

.servings {
    text-align: center;
    grid-column: 1 / span 2;
}

.category {
    grid-column: 1 / span 2;
    text-align: center;
}

.heading {
    text-align: center;
}

.contentheader {
    font-size: 2rem;
}

.time {
    text-align: center;
}


.add-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -- COMMENTS & TIPS / TRICKS -- */
.add-tiptrick {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 1rem;
}

.tiptrickhead {
    grid-column: 1 / span 2;
    font-size: 5rem;
}

.post-tiptrick {
    grid-column: 1 / span 2;
    /* align-self: flex-end; */
}


#id_content {
    width: 90%;
    height: 5rem;
}

.view-tiptrick {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;  
    font-size: 2rem;
    width: 75%;
}

.content {
    grid-column: 1 / span 3;
    font-size: 2rem;
}

.tiptrickchef {
    grid-column: 1 / span 3;
    font-size: 2rem;
}

.tiptrickdate {
    grid-column: 1 / span 2;
    font-size: 1.5rem;
}